* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	background-color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
}

.wrap {
	position:absolute;
	display: block;
	left: 50%;
	top:50%;
	margin-left: -160px;
	margin-top: -160px;


	-webkit-transform-style: preserve-3d;
	transition:1.5s;
	-webkit-transform: perspective(0px) rotatex(25deg) rotateY(-45deg) rotateY(0deg);
	/*-webkit-transform: perspective(0px) rotatex(-45deg) rotateY(-45deg) rotateZ(0deg);*/ /* rotate test*/
	-webkit-transform-origin: 160px 160px 0px;
}

.wrap:hover{
	transition:1.5s;
	-webkit-transform: perspective(0px) rotatex(45deg) rotateY(-45deg) rotateY(310deg);
	/*-webkit-transform: perspective(0px) rotatex(-45deg) rotateY(45deg) rotateZ(0deg);*/ /* rotate test*/
	-webkit-transform-origin: 160px 160px 0px;
}



/***********************************************************************************/
.face1-1,
.face1-2,
.face1-3,
.face1-4,
.face2-1,
.face2-2,
.face2-3,
.face2-4,
.face3-1,
.face3-2,
.face3-3,
.face3-4{
	position:absolute;
	width: 320px;
	height: 320px;
}




.face1-1{	-webkit-transform:translateX(0px) translateY(0px) translateZ(155px);}
.face1-2{	-webkit-transform:translateX(0px) translateY(0px) translateZ(5px);}
.face1-3{	-webkit-transform:translateX(0px) translateY(0px) translateZ(-5px);}
.face1-4{	-webkit-transform:translateX(0px) translateY(0px) translateZ(-155px);}

.face2-1{	-webkit-transform:translateX(155px) translateY(0px) translateZ(0px) rotateY(90deg);}
.face2-2{	-webkit-transform:translateX(5px) translateY(0px) translateZ(0px) rotateY(90deg);}
.face2-3{	-webkit-transform:translateX(-5px) translateY(0px) translateZ(0px) rotateY(90deg);}
.face2-4{	-webkit-transform:translateX(-155px) translateY(0px) translateZ(0px) rotateY(90deg);}

.face3-1{	-webkit-transform:translateX(0px) translateY(155px) translateZ(0px) rotateX(90deg);}
.face3-2{	-webkit-transform:translateX(0px) translateY(5px) translateZ(0px) rotateX(90deg);}
.face3-3{	-webkit-transform:translateX(0px) translateY(-5px) translateZ(0px) rotateX(90deg);}
.face3-4{	-webkit-transform:translateX(0px) translateY(-155px) translateZ(0px) rotateX(90deg);}


.face1-1 li:nth-child(1),
.face1-1 li:nth-child(2),
.face1-1 li:nth-child(3),
.face1-1 li:nth-child(4),
.face1-2 li:nth-child(1),
.face1-2 li:nth-child(2),
.face1-2 li:nth-child(3),
.face1-2 li:nth-child(4),
.face1-3 li:nth-child(1),
.face1-3 li:nth-child(2),
.face1-3 li:nth-child(3),
.face1-3 li:nth-child(4),
.face1-4 li:nth-child(1),
.face1-4 li:nth-child(2),
.face1-4 li:nth-child(3),
.face1-4 li:nth-child(4){
	float:left;
	background-image: -webkit-linear-gradient( right,  hsla(181,100%,50%,.5) 0%, hsla(181,0%,50%,0) 100%),
	                  -webkit-linear-gradient( bottom, hsla(0,100%,0%,.5) 0%,    hsla(0,100%,100%,.5) 100%);

	background-size:300px 300px;
	width: 150px;
	height: 150px;
	color: #ff0000;
	margin:5px;}

.face1-1 li:nth-child(1){	background-position: 0% 0%;}
.face1-1 li:nth-child(2){	background-position: 100% 0%;}
.face1-1 li:nth-child(3){	background-position: 0% 100%;}
.face1-1 li:nth-child(4){	background-position: 100% 100%;}
.face1-2 li:nth-child(1){	background-position: 0% 0%;}
.face1-2 li:nth-child(2){	background-position: 100% 0%;}
.face1-2 li:nth-child(3){	background-position: 0% 100%;}
.face1-2 li:nth-child(4){	background-position: 100% 100%;}
.face1-3 li:nth-child(1){	background-position: 0% 0%;}
.face1-3 li:nth-child(2){	background-position: 100% 0%;}
.face1-3 li:nth-child(3){	background-position: 0% 100%;}
.face1-3 li:nth-child(4){	background-position: 100% 100%;}
.face1-4 li:nth-child(1){	background-position: 0% 0%;}
.face1-4 li:nth-child(2){	background-position: 100% 0%;}
.face1-4 li:nth-child(3){	background-position: 0% 100%;}
.face1-4 li:nth-child(4){	background-position: 100% 100%;}








.face2-1 li:nth-child(1),
.face2-1 li:nth-child(2),
.face2-1 li:nth-child(3),
.face2-1 li:nth-child(4),
.face2-2 li:nth-child(1),
.face2-2 li:nth-child(2),
.face2-2 li:nth-child(3),
.face2-2 li:nth-child(4),
.face2-3 li:nth-child(1),
.face2-3 li:nth-child(2),
.face2-3 li:nth-child(3),
.face2-3 li:nth-child(4),
.face2-4 li:nth-child(1),
.face2-4 li:nth-child(2),
.face2-4 li:nth-child(3),
.face2-4 li:nth-child(4){
	float:left;
	background-image: -webkit-linear-gradient( right,  hsla(181,100%,50%,.5) 0%, hsla(181,0%,50%,0) 100%),
	                  -webkit-linear-gradient( bottom, hsla(0,100%,0%,.5) 0%,   hsla(0,100%,100%,.5) 100%);

	background-size:300px 300px;
	width: 150px;
	height: 150px;
	color: #ff0000;
	margin:5px;}

.face2-1 li:nth-child(1){	background-position: 0% 0%;}
.face2-1 li:nth-child(2){	background-position: 100% 0%;}
.face2-1 li:nth-child(3){	background-position: 0% 100%;}
.face2-1 li:nth-child(4){	background-position: 100% 100%;}
.face2-2 li:nth-child(1){	background-position: 0% 0%;}
.face2-2 li:nth-child(2){	background-position: 100% 0%;}
.face2-2 li:nth-child(3){	background-position: 0% 100%;}
.face2-2 li:nth-child(4){	background-position: 100% 100%;}
.face2-3 li:nth-child(1){	background-position: 0% 0%;}
.face2-3 li:nth-child(2){	background-position: 100% 0%;}
.face2-3 li:nth-child(3){	background-position: 0% 100%;}
.face2-3 li:nth-child(4){	background-position: 100% 100%;}
.face2-4 li:nth-child(1){	background-position: 0% 0%;}
.face2-4 li:nth-child(2){	background-position: 100% 0%;}
.face2-4 li:nth-child(3){	background-position: 0% 100%;}
.face2-4 li:nth-child(4){	background-position: 100% 100%;}


.face3-1 li:nth-child(1),
.face3-1 li:nth-child(2),
.face3-1 li:nth-child(3),
.face3-1 li:nth-child(4),
.face3-2 li:nth-child(1),
.face3-2 li:nth-child(2),
.face3-2 li:nth-child(3),
.face3-2 li:nth-child(4),
.face3-3 li:nth-child(1),
.face3-3 li:nth-child(2),
.face3-3 li:nth-child(3),
.face3-3 li:nth-child(4),
.face3-4 li:nth-child(1),
.face3-4 li:nth-child(2),
.face3-4 li:nth-child(3),
.face3-4 li:nth-child(4){
	float:left;
	background-image: -webkit-linear-gradient( right,  hsla(181,100%,50%,.5) 0%, hsla(181,0%,50%,0) 100%),
	                  -webkit-linear-gradient( bottom, hsla(0,100%,0%,.5) 0%,   hsla(0,100%,100%,.5) 100%);

	background-size:300px 300px;
	width: 150px;
	height: 150px;
	color: #ff0000;
	margin:5px;}

.face3-1 li:nth-child(1){	background-position: 0% 0%;}
.face3-1 li:nth-child(2){	background-position: 100% 0%;}
.face3-1 li:nth-child(3){	background-position: 0% 100%;}
.face3-1 li:nth-child(4){	background-position: 100% 100%;}
.face3-2 li:nth-child(1){	background-position: 0% 0%;}
.face3-2 li:nth-child(2){	background-position: 100% 0%;}
.face3-2 li:nth-child(3){	background-position: 0% 100%;}
.face3-2 li:nth-child(4){	background-position: 100% 100%;}
.face3-3 li:nth-child(1){	background-position: 0% 0%;}
.face3-3 li:nth-child(2){	background-position: 100% 0%;}
.face3-3 li:nth-child(3){	background-position: 0% 100%;}
.face3-3 li:nth-child(4){	background-position: 100% 100%;}
.face3-4 li:nth-child(1){	background-position: 0% 0%;}
.face3-4 li:nth-child(2){	background-position: 100% 0%;}
.face3-4 li:nth-child(3){	background-position: 0% 100%;}
.face3-4 li:nth-child(4){	background-position: 100% 100%;}